@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html{scroll-behavior:smooth}

body {
	font-family: 'Poppins', sans-serif;
	color: #58008e;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

/*/////////////////////////*/
/*scrollbar*/
::-webkit-scrollbar{
    width: .60rem;
    /* background-color: hsl(250, 12%, 90%); */
    border-radius: .5rem;

}

::-webkit-scrollbar-thumb{
    background-color: hsl(250, 12%, 80%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(250, 8%, 65%);
}
/*/////////////////////////*/


/*/////////////////////////*/
/*heading*/
.start{
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 10px 10px 10px 10px;
	font-size: 20px;
	font-weight: bolder;
	border-bottom: 0.11px solid;
}
/*/////////////////////////*/

/*/////////////////////////*/
/*search bar*/
.searchbar{
	display: flex;
	font-family: 'Poppins', sans-serif;
	flex-direction: row;
	width: 100vw;
	/*border: 1px solid #ddd;*/
	/*justify-content: center;*/
	align-items: center;
	border-radius: 10px;
	padding: 12px 20px 12px 40px;
	font-size: 26px;
}
#myInput {
	background-position: 10px 12px;
	background-repeat: no-repeat;
	border: 0px;
	
	font-size: 16px;
	padding: 12px 0px 12px 10px;
	width: 90%;
	margin-bottom: 2px;
	margin-top: 2px;
}
/*/////////////////////////*/


/*/////////////////////////*/
/*section of the classes search part*/
.interfacepage{
	display: flex;
	flex-direction: row;
	height: 80vh;
	padding: 0;
	margin: 0;
	justify-content: space-around;

}


#classes{
	overflow:auto;
	width: 70%;
	display: flex;
	flex-direction: column;
	background-color: white;
	/*padding: 10px;*/
	grid-gap: 10px;
}
#classes::-webkit-scrollbar {
  display: none;
}

.outerdiv{
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 10px;
	/*padding-left: 20px;*/
	padding-right: 10px;
	font-size: 20px;
	border-radius: 5px;
	font-weight: bold;
}

/*/////////////////////////*/
/*add button css*/

#addcourse{
	display: block;
}

.addbutton{
	color: #58008e;
	background: white;
	user-select: none;
}

.changecolor{
	background: #58008e;
	color: white;
}

.addbutton:hover{
	background: #58008e;
	color: white;
	cursor: pointer;
}

.addbutton{
	display: flex;
	width: 7vw;
	align-items: center;
	text-align: center;
	justify-content: center;
	border: 1px solid rgba(0, 0, 0, 0.8);
	border-radius: 5px;
}

.addbuttonstate{
	margin:0px;
	/*padding: 3px;*/
}
/*/////////////////////////*/

/*/////////////////////////*/
/*inside classes section*/
.innerdiv {
	display: none;
	font-size: 15px;
	font-weight: bold;
	padding-top: 10px;
}

.insideclassesaddbutton {
	user-select: none;
	width: 5vw;
	height: 5vh;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	border: 1px solid rgba(0, 0, 0, 0.8);
	border-radius: 5px;
}

.insideclassesaddbutton:hover {
	background: #58008e;
	color: white;
	cursor: pointer;
}
.gridofclassesinside{
	width: 100%;
	display: grid;
	grid-template: 200px /33% 33% 33%;
	grid-gap: 8px;
}

.toalignbutton {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.insideclasses {
	font-weight: bolder;
	padding: 5px;
	border: 1px solid #58008e;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*width: 100%;*/
}

.aligngood{
	display: flex;
	justify-content: space-between;
	align-items: center;

}
/*/////////////////////////*/


/*/////////////////////////*/
/*cart style part*/
.picked{
   	
   	height: 85%;
    border: 1px solid black;
    align-items: center;
    padding: 10px;
    text-align: center;
    font-size: 125%;
    font-weight: bolder;
    background: white;
    border-radius: 10px;
}

.pickedclasses{
	padding: 5px;
	border: 1px solid #58008e;
	padding-left: 10px; 
	margin-bottom: 7px;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.closebutton:hover{
	cursor: pointer;
}
/*/////////////////////////*/

/*/////////////////////////*/
/*submit button*/
.submit{
	border: 1px solid black;
    align-items: center;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background: #58008e;
    border-radius: 10px;
    user-select: none;
    text-decoration: none;
    /*margin-bottom: 10px;*/
}

.submit:hover{
	background: #4f027e;
	cursor: pointer;
	text-decoration: none;
}

#calendar{
	font-size: 1.25rem;
	/*background: #4f027e;*/
	/*display: none;*/
	margin-top: 80px;
	/*border:1px solid black;*/
	height: 100vh;
	width: 100%;
}
/*/////////////////////////*/

